{% extends "pawpals/base.html" %}
{% block content %}
  <h1 class="display-4">Paw Pals</h1>

  <div class="jumbotron">
  <h1 class="display-3">About Us</h1>
  <p class="lead">It is our mission to help unite owners with their lifelong paw companions.</p>
  <hr class="my-4">
  <p>We are a non-profit organization that rescues dogs, cats, and bunnies.
  Our goal is to rehome any animal that finds their way to us.
  We were founded in June of 2020, and we hope to continue rescuing animals for many years to come!
  Have a look at our pets that are currently available, and leave us a review if you have already
  found your paw companion through our services! We hope to see you very soon!</p>
  <p class="lead">
  </p>
</div>
{% endblock content %}
